<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Configurações</title>
</head>

<body>
    <ul>
        <li>
            <a href="perfil.html">
                Dados da Empresa
            </a>
        </li>
        <li>
            <a href="periodosFiscais.html">
                Períodos Fiscais
            </a>
        </li>
        <li>
            <a href="">
                Baixar Fluxo de Caixa
            </a>
        </li>
    </ul>
    <section class="maisfuncao">
        <li>
            <a href="registroDePronto.html">
                Resgistro de ponto
            </a>
        </li>
        <li>
            <a href="suporte.html">
                Suporte
            </a>
        </li>
        <li>
            <a href="config.html">
                Configurações
            </a>
        </li>
        <li>
            <a href="../index.html">
                Sair
            </a>
        </li>
    </section>
    <footer>
        <p>
            <a href="https://pablo-kennediy.github.io/curriculo/">infoprodutos.org</a> &copy; 2024 | Todos os
            direitos
            reservados
        </p>
    </footer>
</body>

</html>