<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/iconeContratante.png" type="image/x-icon">
    <title>Controle de Ponto e Estoque</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <h1>
            Painel de Controle
        </h1>
    </header>
    <div class="interface">
        <div class="flex">
            <main>
                <section id="Estoque" class="estoque">
                    <h1>Lista de Materiais para Construção Civil</h1>
                    <div class="flex">
                        <!-- <div>
                         <ul>
                                <h2>Agregado</h2>
                                <ul>
                                    <li>Areia</li>
                                    <li>Pedra britada</li>
                                </ul>
                                <h2>Aglomerante</h2>
                                <ul>
                                    <li>Cimento</li>
                                    <li>Cal</li>
                                </ul>
                                <h2>Metais</h2>
                                <ul>
                                    <li>Aço</li>
                                    <li>Ferro</li>
                                </ul>
                                <h2>Madeira</h2>
                                <ul>
                                    <li>Serrada</li>
                                    <li>Compensada</li>
                                </ul>
                                <h2>Cobertura</h2>
                                <ul>
                                    <li>Telhas</li>
                                    <li>Calhas e rufos</li>
                                </ul>
                                <h2>Revestimento</h2>
                                <ul>
                                    <li>Tintas</li>
                                    <li>Pisos e azulejos</li>
                                </ul>
                                <h2>Hidráulica</h2>
                                <ul>
                                    <li>Tubos e conexões</li>
                                    <li>Louças e metais</li>
                                </ul>
                                <h2>Isolante</h2>
                                <ul>
                                    <li>Térmico</li>
                                    <li>Acústico</li>
                                </ul>
                                <h2>Vedação</h2>
                                <ul>
                                    <li>Argamassa</li>
                                    <li>Selante</li>
                                </ul>
                                <h2>Equipamentos de Proteção Individual (EPIs)</h2>
                                <ul>
                                    <li>Capacete</li>
                                    <li>Óculos</li>
                                    <li>Luvas</li>
                                    <li>Botas</li>
                                </ul>
                            </ul>
                        </div>  -->
                        <table id="myTable">
                            <tr>
                                <th>Categoria</th>
                                <th>Materiais</th>
                                <th>Quatidades</th>
                                <th>Validade</th>
                            </tr>
                            <tr>
                                <td>Agregado</td>
                                <td>Areia, Pedra britada</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                            <tr>
                                <td>Aglomerante</td>
                                <td>Cimento, Cal</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                            <tr>
                                <td>Metais</td>
                                <td>Aço, Ferro</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                            <tr>
                                <td>Madeira</td>
                                <td>Serrada, Compensada</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                            <tr>
                                <td>Cobertura</td>
                                <td>Telhas, Calhas e rufos</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                            <tr>
                                <td>Revestimento</td>
                                <td>Tintas, Pisos e azulejos</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                            <tr>
                                <td>Hidráulica</td>
                                <td>Tubos e conexões, Louças e metais</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                            <tr>
                                <td>Isolante</td>
                                <td>Térmico, Acústico</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                            <tr>
                                <td>Vedação</td>
                                <td>Argamassa, Selante</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                            <tr>
                                <td>Equipamentos de Proteção Individual (EPIs)</td>
                                <td>Capacete, Óculos, Luvas, Botas</td>
                                <td>0.0</td>
                                <td>00/00/0000</td>
                            </tr>
                        </table>
                                             <script>
                            // JavaScript para manipular a tabela
                            function addRow() {
                                let table = document.getElementById("myTable");
                                let row = table.insertRow();
                                let cell1 = row.insertCell(0);
                                let cell2 = row.insertCell(0);
                                let cell3 = row.insertCell(0);
                                let cell4 = row.insertCell(1);


                                cell1.contentEditable = "true";
                                cell2.contentEditable = "true";
                                cell3.contentEditable = "true";
                                cell4.contentEditable = "true";

                            }

                            function deleteRow() {
                                let table = document.getElementById("myTable");
                                table.deleteRow(table.rows.length - 1);
                            }
                        </script>
                    </div>
                    <div class="flex">
                        <button onclick="addRow()">Adicionar Linha</button>
                        <button onclick="deleteRow()">Remover Última Linha</button>
                     </div>
                </section>
               
                <section class="maisfuncao">
                    <li>
                        <a href="registroDePronto.html">
                            Resgistro de ponto
                        </a>
                    </li>
                    <li>
                        <a href="suporte.html">
                            Suporte
                        </a>
                    </li>
                    <li>
                        <a href="config.html">
                            Configurações
                        </a>
                    </li>
                    <li>
                        <a href="../index.html">
                            Sair
                        </a>
                    </li>
                </section>
            </main>
        </div>
    </div>
    <footer>
        <p>
            <a href="https://pablo-kennediy.github.io/curriculo/">infoprodutos.org</a> &copy; 2024 | Todos os
            direitos
            reservados
        </p>
    </footer>
</body>

</html>