<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/CONTROLE +.png" type="image/x-icon">
    <title>Controle de Ponto e Estoque</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <img src="" alt="">
        <aside>
            <li>Dashboard</li>
            <li>Estoque</li>
            <li>Registro de ponto</li>
        </aside>
    </header>
 <div class="interface">
    <div class="flex">
        <main>
         <h1>
             Painel de Controle
         </h1>
         <section class="dashboard">
             <ul>
                 <li>Estoque</li>
                 <li>Registro de ponto</li>
                 <li>Mais funções</li>
             </ul>
         </section>
         <section class="estoque">
             <div class="flex">
                 <div>
                     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum magni sint aperiam, iste eius atque
                         voluptates veritatis autem hic rem culpa maxime beatae eos ut consequuntur placeat sed commodi
                         iusto!</p>
                     <p>Dignissimos recusandae earum numquam sint, ipsa, fuga voluptatibus eligendi perferendis minus odio
                         dolorem temporibus quod et mollitia harum provident? Nisi a, quas cumque aut voluptatem dignissimos
                         impedit. Voluptate, repellendus impedit.</p>
                     <p>Corporis deleniti esse sapiente voluptatem inventore qui. Beatae, quisquam animi! Magnam placeat,
                         dolorum quae repudiandae repellat dolor ipsa, necessitatibus quasi sed repellendus facere
                         perferendis impedit ea debitis molestiae delectus natus.</p>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quo earum sequi vero nihil
                         sapiente error? Doloremque numquam totam debitis itaque, vel iure, cumque corporis expedita quidem,
                         autem a praesentium.</p>
                     <p>Quaerat asperiores animi eius dolore quasi nam possimus facere sed, neque repellendus consequatur
                         sint tenetur enim minus magnam porro eveniet quisquam sequi eaque, optio accusantium architecto.
                         Veniam ab praesentium perferendis!</p>
                     <p>Numquam, voluptatem magnam itaque autem sint illum quidem ab iure tempore explicabo culpa. Neque sint
                         officia repellat fugit voluptatum aperiam quam aspernatur repudiandae illum? Dolorum quibusdam
                         quidem sint labore officia!</p>
                 </div>
             </div>
         </section>
         <section class="registroponto">
             <div class="flex">
                 <h1>Registro de Ponto</h1>
                 <div>
                     <p>Suporte</p>
                     <p>Sair</p>
                 </div>
                 <div>
     <img src="" alt="">                
     <form action="login.php" method="post">
         <label for="id_usuario">ID do Usuário:</label>
         <input type="text" id="id_usuario" name="id_usuario" required>
         <label for="senha">Senha:</label>
         <input type="password" id="senha" name="senha" required>
         <input type="submit" value="Entrar">
       </form>
                 </div>
             </div>
         </section>
         <section class="maisfuncao"></section>
     </main>
 </div>
 </div>
</body>

</html>