<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/CONTROLE +.png" type="image/x-icon">
    <title>Controle de Ponto e Estoque</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <img src="" alt="">
        <aside>
            <a href="#Estoque"><li>Estoque</li></a>
<a href="#registroponto"><li>Registro de ponto</li></a>
        </aside>
    </header>
    <div class="interface">
        <div class="flex">
            <main>
                <h1>
                    Painel de Controle
                </h1>
                <section id="registroponto" class="registroponto">
                    <h1>Registro de Ponto</h1>
                    <div class="flex">
                                              <div>
                            <img src="" alt="">
                            <form action="login.php" method="post">
                                <label for="id_usuario">ID do Usuário:</label>
                                <input type="text" id="id_usuario" name="id_usuario" required>
                                <label for="senha">Senha:</label>
                                <input type="password" id="senha" name="senha" required>
                                <input type="submit" value="Entrar">
                            </form>
                        </div>
                                           </div>
                                                <p>Suporte</p>
                            <p>Sair</p>
                </section>
                <section id="Estoque" class="estoque">
                    <h1>Lista de Materiais para Construção Civil</h1>
                    <div class="flex">
                        <div>
                            <ul>
                                <h2>Agregado</h2>
                                <ul>
                                    <li>Areia</li>
                                    <li>Pedra britada</li>
                                </ul>
                                <h2>Aglomerante</h2>
                                <ul>
                                    <li>Cimento</li>
                                    <li>Cal</li>
                                </ul>
                                <h2>Metais</h2>
                                <ul>
                                    <li>Aço</li>
                                    <li>Ferro</li>
                                </ul>
                                <h2>Madeira</h2>
                                <ul>
                                    <li>Serrada</li>
                                    <li>Compensada</li>
                                </ul>
                                <h2>Cobertura</h2>
                                <ul>
                                    <li>Telhas</li>
                                    <li>Calhas e rufos</li>
                                </ul>
                                <h2>Revestimento</h2>
                                <ul>
                                    <li>Tintas</li>
                                    <li>Pisos e azulejos</li>
                                </ul>
                                <h2>Hidráulica</h2>
                                <ul>
                                    <li>Tubos e conexões</li>
                                    <li>Louças e metais</li>
                                </ul>
                                <h2>Isolante</h2>
                                <ul>
                                    <li>Térmico</li>
                                    <li>Acústico</li>
                                </ul>
                                <h2>Vedação</h2>
                                <ul>
                                    <li>Argamassa</li>
                                    <li>Selante</li>
                                </ul>
                                <h2>Equipamentos de Proteção Individual (EPIs)</h2>
                                <ul>
                                    <li>Capacete</li>
                                    <li>Óculos</li>
                                    <li>Luvas</li>
                                    <li>Botas</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="maisfuncao"></section>
            </main>
        </div>
    </div>
</body>

</html>