<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/iconeContratante.png" type="image/x-icon">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>
        Painel de Controle
    </h1>
    <section id="registroponto" class="registroponto">
        <h1>Registro de Ponto</h1>
        <div class="flex">
            <div>
                <img src="" alt="">
                <form action="login.php" method="post">
                    <label for="id_usuario">ID do Usuário:</label>
                    <input type="text" id="id_usuario" name="id_usuario" required>
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required>
                    <input type="submit" value="Entrar">
                </form>
            </div>
        </div>
        <section class="maisfuncao">
            <li>
                <a href="registroDePronto.html">
                    Resgistro de ponto
                </a>
            </li>
            <li>
                <a href="suporte.html">
                    Suporte
                </a>
            </li>
            <li>
                <a href="config.html">
                    Configurações
                </a>
            </li>
            <li>
                <a href="../index.html">
                    Sair
                </a>
            </li>
        </section>
    </section>
    <footer>
        <p><a href="https://pablo-kennediy.github.io/curriculo/">infoprodutos.org</a> &copy; 2024 | Todos os
            direitos
            reservados</p>
    </footer>
</body>
</html>