<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/CONTROLE +.png" type="image/x-icon">
  <title>Controle de Ponto e Estoque</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="container">
    <h1>
      Login
    </h1>
    <form action="login.php" method="post">
      <label for="email">
        Email:
      </label>
      <input type="email" id="email" name="email" required>
      <label for="senha">
        Senha:
      </label>
      <input type="password" id="senha" name="senha" required>
      <input type="submit" value="Entrar">
    </form>
    <div class="links">
      <a href="https://maper.info/29j736">
        <p>
          Ainda não tem conta? Cadastre-se!
        </p>
      </a>
      <a href="mailto:pablokennediy@gmail.com?subject=Esqueci+minha+senha">
        <p>
          Esqueceu sua senha? Recuperação via Email!
        </p>
      </a>
    </div>
  </div>
</body>

</html>